.calendar-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow:hidden; /* 바깥 스크롤 제거 */
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 20;
}

.side-panel { 
    position: absolute;
    top: 70px; 
    left: 0px; 
    width: 240px;
    height: calc(100% - 70px);
    background:  #1e1e50;
    transform: translateX(0);
    z-index: 15;
}

.panel-content {
  padding: 1rem;
  color: #ffffff;
}

.main-content {
  transition: margin-left 0.3s ease;
  overflow-y:auto; /* main-content스크롤 가능 */
}

.main-content.shifted {
  margin-left: 240px;
}

.content-hover:hover{
  transform:scale(1.05);
  cursor:pointer;
  color:aqua
}

.footer {
  height: 60px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

