.headerbar {
  position: relative;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 1rem;
  background: #0e284b;
  z-index: 20;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headbar-left{
  display:flex;
  align-items:center;
  gap:1rem;
}

.header-title{
  display:flex;
  align-items:center;
  gap:0.5rem;
  margin-left:10px;
}

.headerbar-icon{
  font-size:25px;
}

.hamburger-btn {
  cursor:pointer;
  font-weight: bold;
  color:white;
  border: none;
}

.hamburger-btn:hover{
  transform: scale(1.1);
}

.calendar-icon{
  color: aqua;  
}

.title{
  margin:0;
  font-size:1.5rem;
  color:aqua;
}

.team-name{
  font-weight: bold;
  color: white;
}


.headbar-email{
  color: white;
  margin-right: 20px;
  font-weight: bold;
}
.toggle-btn {
  float:right;
  background: none;
  border: none;
  cursor: pointer;
  color:#b0d5ff;
  
}

.toggle-btn:hover {
  transform: scale(1.1);
}


.pulldown-menu {
  position: absolute;
  top: 100%;     /* headerbar 높이(70px) 바로 밑 */
  right:0;   /* 우측 패딩과 동일하게 맞춤 */
  background: #1e1e50;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  white-space: nowrap;
   /* 화면 밖으로 숨김 */
  visibility:hidden;
  overflow:hidden;
  z-index:10;
  pointer-events: none; 
  transform:translateX(100%);
  transition: transform 0.3s ease-in-out;
  border-radius: 0 0 5px 5px;
  box-shadow:
    4px 0 4px rgba(128, 128, 128, 0.7),
    inset 3px 0 -1px rgba(128, 128, 128, 0.4);
}

.pulldown-menu.visible {
  transform:translateX(0);
  visibility:visible;
  pointer-events: auto;
}

@media (max-width:1024px) {
  .pulldown-menu{
    height:250px;
  }

}

@media (max-width:768px) {
  .team-name {
    display:none;
  }
  .headbar-email {
    display:none;
  }
}

@media (max-width:426px) {
  .pulldown-menu {
    width: 100%;
    height:calc(100vh - 70px);
    right: 0;
    left: 0; /* 좌우 패딩을 없애고 전체 너비로 확장 */
  }
  .title{
    font-size: 1.2rem;
  }
  .calendar-icon {
    font-size: 20px;
  }
}