.introduction-wrapper {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

/* 왼쪽 소개 텍스트 */
.intro-text {
  margin-left:20px;
}

.intro-why, .intro-features, .intro-tech, .intro-future, .intro-contact{
  margin-top:40px;
}




/* 오른쪽 상단 영상 */
.intro-video {
  margin-top:20px;
}

.intro-video iframe {
  width:500px;
  height:300px;
  border:1px solid #ddd;
  border-radius: 8px;
  
}

/* QR 이미지*/
.intro-contact img {  
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom:60px;
}

section ul{
  list-style-type: none;
  padding-left: 0;
}