.account-panel {
  width: 250px;
  height: 500px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative; 
}

.section-title {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-icon {
  font-size: 40px;
  color: #b0d5ff;
}

.user-name {
  font-weight: bold;
  font-size: 16px;
}

.user-email {
  font-size: 13px;
  color: #ccc;
}


.version-info {
  font-size: 12px;
  line-height: 1.4;

  position: absolute;
  bottom: 50px; 
  left: 10px;
}

/* ✅ 로그아웃, 인스타 버튼 하단 고정 */
.bottom-section {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button:hover { 
  transform:scale(1.1);
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
}

.instagram-icon {
  font-size: 24px;
  color: #e1306c;
  transition: transform 0.2s;
}

.instagram-icon:hover {
  transform: scale(1.1);
}

@media (max-width:1024px) {
  .account-panel{
    height:250px;
    
  }
  .version-info {
  font-size: 12px;
  line-height: 1.4;

  position: absolute;
  bottom: 55px; 
  
 }

.bottom-section {
  position: absolute;
  bottom: 25px;
  left: 10px;
  right: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
}


@media (max-width:426px) {
  .account-panel{
    width: 100%;
    height:calc(100vh - 70px);
    right: 0;
    left: 0; 
  }
  .version-info{
    bottom:80px;
  }
  .bottom-section {
    width: 75%;  
    position: absolute;
    bottom: 50px;
    left: 10px;
    
  }
}